.footer__social-lists {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__social-lists > li:nth-child(2) {
  margin: 2rem;
}
.footer__social-lists > li > a {
  color: smoke;
}

.svg_icons {
  transform: scale(2);
}
